In [4]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('Data_Sets/data2.csv')
df

,StudentId,Age,Gender,Region,AcademicPressure,SocialSupport,SleepHours,ExerciseHours,StressLevel,SatisfactionWithLife
0,1,1,Male,East,4,3,6.852221,3.462180,2,1
1,2,14,Female,North,2,3,7.379653,1.347062,6,2
2,3,23,Female,North,6,1,8.173097,1.220628,6,1
3,4,9,Female,East,6,5,4.835989,0.841455,1,5
4,5,5,Male,South,4,7,7.626504,1.093821,9,5
5,6,2,Female,West,6,9,7.239047,2.790510,6,7
6,7,23,Male,North,2,7,5.218367,2.019181,3,9
7,8,15,Male,West,2,9,9.657121,0.324461,4,9
8,9,1,Male,South,4,8,7.593193,1.269577,4,3
9,10,20,Male,South,8,2,8.168710,1.234380,3,3
10,11,13,Male,South,7,1,9.282807,3.481521,3,3
11,12,17,Female,North,9,7,7.746124,3.561353,3,4
12,13,5,Female,South,8,7,5.773802,0.740435,4,8
13,14,5,Female,North,5,8,4.632966,4.988702,7,6
14,15,18,Female,South,2,5,6.739207,1.333905,4,8
15,16,15,Female,West,5,3,5.310643,4.883075,9,1
16,17,-2,Male,West,8,8,6.499060,2.055185,1,8
17,18,2,Female,East,9,6,9.299682,0.165254,8,4
18,19,18,Female,West,9,3,5.946070,1.725356,7,1
19,20,-3,Male,East,1,1,4.732528,3.171757,2,8
20,21,16,Female,West,9,3,6.137787,3.403527,8,4
21,22,15,Male,North,7,5,9.440971,2.654673,1,6
22,23,-4,Female,West,9,3,5.632793,2.238916,9,8
23,24,18,Male,East,8,1,7.886141,2.764465,9,4
24,25,6,Female,East,1,5,4.003122,2.963484,2,3
25,26,24,Female,South,8,7,6.115413,0.404267,7,9
26,27,0,Male,North,8,7,5.828688,1.848272,3,3
27,28,-4,Male,West,3,9,4.987935,1.210800,7,9
28,29,22,Male,South,1,3,7.204537,4.015699,9,2
29,30,15,Male,West,8,7,6.908980,2.351503,4,2

In [6]:
df.head()

,StudentId,Age,Gender,Region,AcademicPressure,SocialSupport,SleepHours,ExerciseHours,StressLevel,SatisfactionWithLife
0,1,1,Male,East,4,3,6.852221,3.462180,2,1
1,2,14,Female,North,2,3,7.379653,1.347062,6,2
2,3,23,Female,North,6,1,8.173097,1.220628,6,1
3,4,9,Female,East,6,5,4.835989,0.841455,1,5
4,5,5,Male,South,4,7,7.626504,1.093821,9,5

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   StudentId             30 non-null     int64
 1   Age                   30 non-null     int64
 2   Gender                30 non-null     object
 3   Region                30 non-null     object
 4   AcademicPressure      30 non-null     int64
 5   SocialSupport         30 non-null     int64
 6   SleepHours            30 non-null     float64
 7   ExerciseHours         30 non-null     float64
 8   StressLevel           30 non-null     int64
 9   SatisfactionWithLife  30 non-null     int64
dtypes: float64(2), int64(6), object(2)
memory usage: 2.5+ KB

In [8]:
df.describe()

,StudentId,Age,AcademicPressure,SocialSupport,SleepHours,ExerciseHours,StressLevel,SatisfactionWithLife
count,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000,30.000000
mean,15.500000,10.300000,5.633333,5.100000,6.761772,2.185513,5.033333,4.866667
std,8.803408,9.029263,2.834314,2.656806,1.543651,1.298903,2.735253,2.812942
min,1.000000,-4.000000,1.000000,1.000000,4.003122,0.165254,1.000000,1.000000
25%,8.250000,2.000000,3.250000,3.000000,5.668046,1.224066,3.000000,3.000000
50%,15.500000,13.500000,6.000000,5.000000,6.795714,2.037183,4.000000,4.000000
75%,22.750000,17.750000,8.000000,7.000000,7.716219,3.119688,7.000000,8.000000
max,30.000000,24.000000,9.000000,9.000000,9.657121,4.988702,9.000000,9.000000

In [9]:
list(df.columns)

['StudentId',
 'Age',
 'Gender',
 'Region',
 'AcademicPressure',
 'SocialSupport',
 'SleepHours',
 'ExerciseHours',
 'StressLevel',
 'SatisfactionWithLife']

In [10]:
df.isnull().sum()

StudentId               0
Age                     0
Gender                  0
Region                  0
AcademicPressure        0
SocialSupport           0
SleepHours              0
ExerciseHours           0
StressLevel             0
SatisfactionWithLife    0
dtype: int64

In [11]:
categorical_columns=df.select_dtypes(include=['category','object']).columns
numerical_columns=df.select_dtypes(exclude=['category','object']).columns

# OUTLIERS

In [12]:
def find_outliers_iqr(data):
    outliers_mask = pd.Series(index=data.columns, dtype=bool)

    for col in data.columns:
        if col in numerical_columns:  # Process only numerical columns
            Q1 = data[col].quantile(0.25)
            Q3 = data[col].quantile(0.75)
            IQR = Q3 - Q1
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR
            col_outliers_mask = (data[col] < lower_bound) | (data[col] > upper_bound)
            outliers_mask[col] = col_outliers_mask.any()  # True if any outliers detected

    return outliers_mask

outliers_iqr_mask = find_outliers_iqr(df)
print("Outliers detected using IQR method:")
for col, is_outlier in outliers_iqr_mask.items():
    print(f"{col}: {is_outlier}")

Outliers detected using IQR method:
StudentId: False
Age: False
Gender: True
Region: True
AcademicPressure: False
SocialSupport: False
SleepHours: False
ExerciseHours: False
StressLevel: False
SatisfactionWithLife: False

In [13]:
# Function to detect outliers using z-score method and return column-wise boolean indicators

In [14]:
def find_outliers_zscore(data, threshold=3):
    outliers_mask = pd.Series(index=data.columns, dtype=bool)

    for col in data.columns:
        if col in numerical_columns:  # Process only numerical columns
            mean = np.mean(data[col])
            std_dev = np.std(data[col])
            z_scores = np.abs((data[col] - mean) / std_dev)
            col_outliers_mask = z_scores > threshold
            outliers_mask[col] = col_outliers_mask.any()  # True if any outliers detected

    return outliers_mask

outliers_zscore_mask = find_outliers_zscore(df)
print("\nOutliers detected using Z-score method:")
for col, is_outlier in outliers_zscore_mask.items():
    print(f"{col}: {is_outlier}")

Outliers detected using Z-score method:
StudentId: False
Age: False
Gender: True
Region: True
AcademicPressure: False
SocialSupport: False
SleepHours: False
ExerciseHours: False
StressLevel: False
SatisfactionWithLife: False

In [15]:
# Function to remove outliers using IQR method

In [16]:

def remove_outliers_iqr(data):
    cleaned_data = data.copy()

    for col in data.columns:
        if col in numerical_columns:  # Process only numerical columns
            Q1 = data[col].quantile(0.25)
            Q3 = data[col].quantile(0.75)
            IQR = Q3 - Q1
            lower_bound = Q1 - 1.5 * IQR
            upper_bound = Q3 + 1.5 * IQR
            cleaned_data = cleaned_data[(cleaned_data[col] >= lower_bound) & (cleaned_data[col] <= upper_bound)]

    return cleaned_data

cleaned_data_iqr = remove_outliers_iqr(df)
print("DataFrame after removing outliers using IQR method:")
print(cleaned_data_iqr)

DataFrame after removing outliers using IQR method:
    StudentId  Age  Gender Region  AcademicPressure  SocialSupport  \
0           1    1    Male   East                 4              3
1           2   14  Female  North                 2              3
2           3   23  Female  North                 6              1
3           4    9  Female   East                 6              5
4           5    5    Male  South                 4              7
5           6    2  Female   West                 6              9
6           7   23    Male  North                 2              7
7           8   15    Male   West                 2              9
8           9    1    Male  South                 4              8
9          10   20    Male  South                 8              2
10         11   13    Male  South                 7              1
11         12   17  Female  North                 9              7
12         13    5  Female  South                 8              7
13         14    5  Female  North                 5              8
14         15   18  Female  South                 2              5
15         16   15  Female   West                 5              3
16         17   -2    Male   West                 8              8
17         18    2  Female   East                 9              6
18         19   18  Female   West                 9              3
19         20   -3    Male   East                 1              1
20         21   16  Female   West                 9              3
21         22   15    Male  North                 7              5
22         23   -4  Female   West                 9              3
23         24   18    Male   East                 8              1
24         25    6  Female   East                 1              5
25         26   24  Female  South                 8              7
26         27    0    Male  North                 8              7
27         28   -4    Male   West                 3              9
28         29   22    Male  South                 1              3
29         30   15    Male   West                 8              7

    SleepHours  ExerciseHours  StressLevel  SatisfactionWithLife
0     6.852221       3.462180            2                     1
1     7.379653       1.347062            6                     2
2     8.173097       1.220628            6                     1
3     4.835989       0.841455            1                     5
4     7.626504       1.093821            9                     5
5     7.239047       2.790510            6                     7
6     5.218367       2.019181            3                     9
7     9.657121       0.324461            4                     9
8     7.593193       1.269577            4                     3
9     8.168710       1.234380            3                     3
10    9.282807       3.481521            3                     3
11    7.746124       3.561353            3                     4
12    5.773802       0.740435            4                     8
13    4.632966       4.988702            7                     6
14    6.739207       1.333905            4                     8
15    5.310643       4.883075            9                     1
16    6.499060       2.055185            1                     8
17    9.299682       0.165254            8                     4
18    5.946070       1.725356            7                     1
19    4.732528       3.171757            2                     8
20    6.137787       3.403527            8                     4
21    9.440971       2.654673            1                     6
22    5.632793       2.238916            9                     8
23    7.886141       2.764465            9                     4
24    4.003122       2.963484            2                     3
25    6.115413       0.404267            7                     9
26    5.828688       1.848272            3                     3
27    4.987935       1.210800            7                     9
28    7.204537       4.015699            9                     2
29    6.908980       2.351503            4                     2

In [17]:
# Function to remove outliers using Z-score method

In [18]:

import numpy as np
import pandas as pd

def remove_outliers_zscore(data, threshold=3):
    cleaned_data = data.copy()
    numerical_columns = data.select_dtypes(include=[np.number]).columns

    for col in numerical_columns:
        mean = np.mean(cleaned_data[col])
        std_dev = np.std(cleaned_data[col])
        z_scores = np.abs((cleaned_data[col] - mean) / std_dev)
        valid_rows = z_scores <= threshold
        cleaned_data = cleaned_data[valid_rows]

    return cleaned_data

cleaned_data_zscore = remove_outliers_zscore(df)
print("\nDataFrame after removing outliers using Z-score method:")
print(cleaned_data_zscore)

DataFrame after removing outliers using Z-score method:
    StudentId  Age  Gender Region  AcademicPressure  SocialSupport  \
0           1    1    Male   East                 4              3
1           2   14  Female  North                 2              3
2           3   23  Female  North                 6              1
3           4    9  Female   East                 6              5
4           5    5    Male  South                 4              7
5           6    2  Female   West                 6              9
6           7   23    Male  North                 2              7
7           8   15    Male   West                 2              9
8           9    1    Male  South                 4              8
9          10   20    Male  South                 8              2
10         11   13    Male  South                 7              1
11         12   17  Female  North                 9              7
12         13    5  Female  South                 8              7
13         14    5  Female  North                 5              8
14         15   18  Female  South                 2              5
15         16   15  Female   West                 5              3
16         17   -2    Male   West                 8              8
17         18    2  Female   East                 9              6
18         19   18  Female   West                 9              3
19         20   -3    Male   East                 1              1
20         21   16  Female   West                 9              3
21         22   15    Male  North                 7              5
22         23   -4  Female   West                 9              3
23         24   18    Male   East                 8              1
24         25    6  Female   East                 1              5
25         26   24  Female  South                 8              7
26         27    0    Male  North                 8              7
27         28   -4    Male   West                 3              9
28         29   22    Male  South                 1              3
29         30   15    Male   West                 8              7

    SleepHours  ExerciseHours  StressLevel  SatisfactionWithLife
0     6.852221       3.462180            2                     1
1     7.379653       1.347062            6                     2
2     8.173097       1.220628            6                     1
3     4.835989       0.841455            1                     5
4     7.626504       1.093821            9                     5
5     7.239047       2.790510            6                     7
6     5.218367       2.019181            3                     9
7     9.657121       0.324461            4                     9
8     7.593193       1.269577            4                     3
9     8.168710       1.234380            3                     3
10    9.282807       3.481521            3                     3
11    7.746124       3.561353            3                     4
12    5.773802       0.740435            4                     8
13    4.632966       4.988702            7                     6
14    6.739207       1.333905            4                     8
15    5.310643       4.883075            9                     1
16    6.499060       2.055185            1                     8
17    9.299682       0.165254            8                     4
18    5.946070       1.725356            7                     1
19    4.732528       3.171757            2                     8
20    6.137787       3.403527            8                     4
21    9.440971       2.654673            1                     6
22    5.632793       2.238916            9                     8
23    7.886141       2.764465            9                     4
24    4.003122       2.963484            2                     3
25    6.115413       0.404267            7                     9
26    5.828688       1.848272            3                     3
27    4.987935       1.210800            7                     9
28    7.204537       4.015699            9                     2
29    6.908980       2.351503            4                     2

In [28]:
# Condition-based Filtering

In [29]:
# Step 3: Define a function to remove outliers
def remove_outliers(df, column_name):
    df_cleaned = df[df[column_name] >= 0].reset_index(drop=True)
    return df_cleaned

In [30]:
# Step 4: Remove outliers based on the 'Age' column
df_cleaned = remove_outliers(df, 'Age')

In [31]:
# Step 5: Save the cleaned dataset
cleaned_file_path = 'Data_Sets/newdatasets.csv'
df_cleaned.to_csv(cleaned_file_path, index=False)
print("Outliers removed and cleaned dataset saved to:", cleaned_file_path)

Outliers removed and cleaned dataset saved to: Data_Sets/newdatasets.csv

In [32]:
df=pd.read_csv('Data_Sets/newdatasets.csv')
df

,StudentId,Age,Gender,Region,AcademicPressure,SocialSupport,SleepHours,ExerciseHours,StressLevel,SatisfactionWithLife
0,1,1,Male,East,4,3,6.852221,3.462180,2,1
1,2,14,Female,North,2,3,7.379653,1.347062,6,2
2,3,23,Female,North,6,1,8.173097,1.220628,6,1
3,4,9,Female,East,6,5,4.835989,0.841455,1,5
4,5,5,Male,South,4,7,7.626504,1.093821,9,5
5,6,2,Female,West,6,9,7.239047,2.790510,6,7
6,7,23,Male,North,2,7,5.218367,2.019181,3,9
7,8,15,Male,West,2,9,9.657121,0.324461,4,9
8,9,1,Male,South,4,8,7.593193,1.269577,4,3
9,10,20,Male,South,8,2,8.168710,1.234380,3,3
10,11,13,Male,South,7,1,9.282807,3.481521,3,3
11,12,17,Female,North,9,7,7.746124,3.561353,3,4
12,13,5,Female,South,8,7,5.773802,0.740435,4,8
13,14,5,Female,North,5,8,4.632966,4.988702,7,6
14,15,18,Female,South,2,5,6.739207,1.333905,4,8
15,16,15,Female,West,5,3,5.310643,4.883075,9,1
16,18,2,Female,East,9,6,9.299682,0.165254,8,4
17,19,18,Female,West,9,3,5.946070,1.725356,7,1
18,21,16,Female,West,9,3,6.137787,3.403527,8,4
19,22,15,Male,North,7,5,9.440971,2.654673,1,6
20,24,18,Male,East,8,1,7.886141,2.764465,9,4
21,25,6,Female,East,1,5,4.003122,2.963484,2,3
22,26,24,Female,South,8,7,6.115413,0.404267,7,9
23,27,0,Male,North,8,7,5.828688,1.848272,3,3
24,29,22,Male,South,1,3,7.204537,4.015699,9,2
25,30,15,Male,West,8,7,6.908980,2.351503,4,2